/* start header style.....> */

.line {
    margin-bottom: 5px;
    height: .2px;
    border-width: 0;
    color: gray;
    background-color: rgb(211, 214, 36)
}

.header {
    margin-top: 15px;
    background-color: rgb(37, 33, 33);
    padding: 1% 10%;
}

.header .top-header {
    color: rgb(235, 174, 22);
}

.header .top-header .top-left {
    display: flex;
    justify-content: left;
    align-items: center;

}

.header .top-header .top-left .top-left-0 {}

.header .top-header .top-left .top-left-1 {
    margin-left: 20px;
}


.header .top-header .top-left i {
    cursor: pointer;
    font-size: 1.2em;
}

.header .top-header .top-left span {
    margin-left: 5px;
    font-size: 1em;
    font-style: italic;
    cursor: pointer;
}

.header .top-header .top-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header .top-header .top-right i {
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;

}

.bottom-header {
    color: rgb(235, 174, 22);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.header .bottom-header .bottom-left {
    display: flex;
    justify-content: left;
    align-items: center;

}

.header .bottom-header .bottom-left i {
    /* left: 20px; */
    font-size: 3em;
    margin-left: -50px;
}

.header .bottom-header .bottom-left span {
    font-size: 1.5em;
}

.header .bottom-header .bottom-centerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* margin-top: -30; */
}

.humberg-menu {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    color: darkgoldenrod;
}

.header .bottom-header .bottom-centerMenu a {
    color: gold;
    margin-top: -10;
    padding: 10px;
}

.header .bottom-header .bottom-right {
    /* display: flex;
    justify-content: right;
    align-items: center; */
}

.header .bottom-header .bottom-right .header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header .bottom-header .bottom-right .header-btn a {
    margin-right: 5px;
    /* border: 1px solid black  ; */
}

.header .bottom-header .bottom-right .header-btn .header-btn-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header .bottom-header .bottom-right .header-btn .header-btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}


.header .bottom-header .bottom-right button {
    color: black;
    background-color: darkgoldenrod;
    font-size: 16px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    width: 150px;
}

.header .bottom-header .bottom-right i {
    font-size: 30px;
    color: black;
}

.header .bottom-header .bottom-rigbottom span {
    font-size: 30em;
}


@media only screen and (max-width: 750px) {
    .header .bottom-header .bottom-centerMenu a {
        display: none;
    }

    .header .top-header .top-left {
        justify-content: space-between;
    }

    .header .top-header .top-right i {
        display: none;

    }

    .header .bottom-header .bottom-left {
        font-size: .5em;
        margin-left: 0px;
        margin-top: 0px;

    }

    .header .bottom-header .bottom-left i {
        font-size: 2em;
    }

    .header .bottom-header .bottom-right button {
        font-size: 12px;
        width: 100px;
    }

    .header .bottom-header .bottom-right button i {
        font-size: 20px;
    }
}


.mz {
    background-color: var(--mastercolor);
}