@font-face {
    font-family: myfont;
    src: url(./font/InterRegular.ttf);
}

* {
    border: 1px solid red;
    box-sizing: border-box;
    list-style: none;
    font-family: myfont;
    text-decoration: none;
}
.row{
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;

}